@model AnonQuest.Models.SurveyVM

@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section-thanks">
    <div class="shell-small">
        <article class="article article-thanks">
            <header class="article-head">
                <h2>Thank you for your survey</h2>
            </header><!-- /.article-head -->
            <div class="article-body">
            <p>Thank you for completing the Water Management Program Assessment. Please look for your results in an email from Phigenics.</p>
            <p><a href="http://www.phigenics.com/web/ContactUs" style="color:#0076c0"><strong>Contact us</strong></a> to help interpret your results or partner with you to implement a Water Management Program for your building or its devices.</p>
            </div><!-- /.article-body -->
            <div class="article-actions">
                <a href="../" class="btn btn-primary btn-blue">Go back to site</a>
            </div><!-- /.article-actions -->
        </article><!-- /.article article-thanks -->
    </div><!-- /.shell-small -->
</section><!-- /.section section-thanks -->
