@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hit the line<br />
    Simon "Moni" Rankov<br />
    <abbr title="Phone">P:</abbr>
    630-605-8120
</address>

<address>
    <strong>4 Da LOUD:</strong>   <a href="mailto:smkinbuds420@gmail.com">smkinbuds420@gmail.com</a><br />
</address>